/* 首页文章卡片 */
#recent-posts>.recent-post-item {
  opacity: 0.8;
}

/* 首页侧栏卡片 */
.card-widget {
  opacity: 0.8 !important;
}

/* 文章页面正文背景 */
div#post {
  opacity: 1;
}

/* 分页页面 */
div#page {
  opacity: 0.8;
}

/* 归档页面 */
div#archive {
  opacity: 0.8;
}

/* 标签页面 */
div#tag {
  opacity: 0.8;
}

/* 分类页面 */
div#category {
  opacity: 0.8;
}